#midle-service{

    background: url(../../Images/background-23.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding: 50px;
    padding-top: 150px;


}